# Spark (with PySpark)


In this tutorial, you will learn how to use Apache Spark, a framework for large-scale data processing, within a notebook.
Upon completing this lab you will be able to : 
 + Program in Spark with the Python Language
 + Demonstrate how to read and process data using Spark
 + Compare and contrast RDD and Dataframes. 
 + Build a simple machine learning application with Spark.
 
 
 
# Requirements : Installing Spark, PySpark and configuration to run it on jupyter notebooks

According to your OS, you have to follow the following tutorial :

+ [Windows](https://changhsinlee.com/install-pyspark-windows-jupyter/)
+ [Mac Os X](https://jmedium.com/pyspark-in-mac/)
 
At the end of the installation, you should be able to run the following code that is a kind of Hello word in PySpark.

In [14]:
import findspark
findspark.init('/Users/chalvidalm/Documents/3A OMA/Plateforme et Langage de Programmation/cours 4 - Spark/spark-2.3.2-bin-hadoop2.7')

In [17]:
import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.sql('''select 'spark' as hello ''')
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [19]:
spark.stop()

## Part 1 :  Spark Context

When writing a spark program, the first thing to do is to define a `SparkContext`. 

In Spark, communication occurs between a driver and executors. The driver has Spark jobs that it needs to run and these jobs are split into tasks that are submitted to the executors for completion. The results from these tasks are delivered back to the driver.

Here, we will use the `findspark` package that has to be installed using the following command: 

` pip3 install findspark`

Then we can use the `findspark.init()`function to locate the Spark process.

In [2]:
import findspark

findspark.init('/Users/chalvidalm/Documents/3A OMA/Plateforme et Langage de Programmation/cours 4 - Spark/spark-2.3.2-bin-hadoop2.7')

import pyspark

sc=pyspark.SparkContext("local[*]","First program in Spark")

Try printing out sc to see its type.

In [3]:
print(sc)

<SparkContext master=local[*] appName=First program in Spark>

You can use Python's `dir()` function to get a list of all the attributes (including methods) accessible through the `sc` object.

In [22]:
dir(sc)

['PACKAGE_EXTENSIONS',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accumulatorServer',
 '_active_spark_context',
 '_batchSize',
 '_callsite',
 '_checkpointFile',
 '_conf',
 '_dictToJavaMap',
 '_do_init',
 '_encryption_enabled',
 '_ensure_initialized',
 '_gateway',
 '_getJavaStorageLevel',
 '_initialize_context',
 '_javaAccumulator',
 '_jsc',
 '_jvm',
 '_lock',
 '_next_accum_id',
 '_pickled_broadcast_vars',
 '_python_includes',
 '_repr_html_',
 '_serialize_to_jvm',
 '_temp_dir',
 '_unbatched_serializer',
 'accumulator',
 'addFile',
 'addPyFile',
 'appName',
 'applicationId',
 'binaryFiles',
 'binaryRecords',
 'broadcast',
 'cancelAllJobs',
 'cancelJobGroup',
 'defaultMinPartitions',
 'defaultParallelism',
 'dump_profiles',
 'emptyRDD',
 'environment',
 'getConf',
 'getLocalProperty',
 'getOrCreate',
 'hadoopFile',
 'hadoopRDD',
 'master',
 'newAPIHadoopFile',
 'newAPIHadoopRDD',
 'parallelize',
 'pickleFile',
 'profiler_collector',
 'pythonExec',
 'pythonVer',
 'range',
 'runJob',
 'sequenceFile',
 'serializer',
 'setCheckpointDir',
 'setJobDescription',
 'setJobGroup',
 'setLocalProperty',
 'setLogLevel',
 'setSystemProperty',
 'show_profiles',
 'sparkHome',
 'sparkUser',
 'startTime',
 'statusTracker',
 'stop',
 'textFile',
 'uiWebUrl',
 'union',
 'version',
 'wholeTextFiles']

## Part 2 : Understanding Spark RDDâ€™s

### WordCount in Spark
In this part, we will write the wordcount in Spark and apply it on the novel Dracula of Bram Stocker (from the Gutemberg project).

First read the [pg345.txt](./SparkData/pg345.txt) file.

In [4]:
import os 
os.chdir('/Users/chalvidalm/Documents/3A OMA/Plateforme et Langage de Programmation/cours 4 - Spark/')
data = sc.textFile('./SparkData/pg345.txt')
type(data)

pyspark.rdd.RDD

To see the content, of the file, we need to run the action `collect` on the  RDD `data`

In [6]:
data.collect()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.hadoop.mapred.InvalidInputException: Input path does not exist: file:/Users/chalvidalm/Documents/3A OMA/Plateforme et Langage de Programmation/cours 4 - Spark/SparkData/pg345.txt
	at org.apache.hadoop.mapred.FileInputFormat.singleThreadedListStatus(FileInputFormat.java:287)
	at org.apache.hadoop.mapred.FileInputFormat.listStatus(FileInputFormat.java:229)
	at org.apache.hadoop.mapred.FileInputFormat.getSplits(FileInputFormat.java:315)
	at org.apache.spark.rdd.HadoopRDD.getPartitions(HadoopRDD.scala:200)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:253)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:251)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:251)
	at org.apache.spark.rdd.MapPartitionsRDD.getPartitions(MapPartitionsRDD.scala:46)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:253)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:251)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:251)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2099)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:944)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:165)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

With the RDD `data`, from the previous cell, execute a `flatMap()` for each line in the input and then convert it to lower case, remove the commas, split the words on a space and store in the RDD `words`

In [105]:
Clean = data.flatMap(lambda line: line.lower().replace(",","").replace(".","").replace(";","").replace("\"","").replace("_","").split((" ")))
Clean = Clean.filter(lambda item: len(item)>0)

Execute the command with the action `take()` and retrieve the first 10 words from the `flatMap()`transformation

In [106]:
Clean.take(30)

['the',
 'project',
 'gutenberg',
 'ebook',
 'of',
 'dracula',
 'by',
 'bram',
 'stoker',
 'this',
 'ebook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'almost',
 'no',
 'restrictions',
 'whatsoever',
 'you',
 'may',
 'copy']

Perform a classic `map()` to create a tuple where each word has a count of 1

In [151]:
Map = Clean.map(lambda word: (word, 1))

Write the reducing function

In [152]:
Count = Map.reduceByKey(lambda a, b: a + b)
Count.take(20)

[('servant-women', 1),
 ('mobile', 1),
 ('vastness', 1),
 ('sullenness', 1),
 ('circle', 10),
 ('time--and', 1),
 ('unheard', 1),
 ('afford', 5),
 ('subject', 24),
 ('countermand', 1),
 ('ear-piercing', 1),
 ('hearty?', 1),
 ('spoken', 23),
 ('september--after', 2),
 ('casement', 1),
 ('bleeding', 3),
 ('far-reaching', 1),
 ('dressing', 3),
 ('ornaments', 1),
 ('thocht', 2)]

Get all words that occur more than once and sort them alphabetically:

In [153]:
Count_sup_1 = Count.filter(lambda item: item[1]>1)
Count_sup_1 = Count_sup_1.sortBy(lambda item: item[0])
Count_sup_1.take(30)

[('&', 21),
 ("'a'", 3),
 ("'ad", 6),
 ("'all", 3),
 ("'are", 3),
 ("'arf-quid", 2),
 ("'armony", 2),
 ("'at", 2),
 ("'ave", 2),
 ("'bloofer", 2),
 ("'e", 6),
 ("'e's", 2),
 ("'ead", 3),
 ("'elped", 2),
 ("'ere", 10),
 ("'here", 2),
 ("'i", 5),
 ("'igh", 2),
 ("'im", 10),
 ("'is", 2),
 ("'isself", 3),
 ("'isself!", 2),
 ("'ittin'", 3),
 ("'my", 3),
 ("'no'", 5),
 ("'ole", 2),
 ("'ome", 3),
 ("'ouse", 5),
 ("'ow", 4),
 ("'owl", 2)]

Now, get all words that occur more than once and sort them by frequency. Select the first 20. Hints : look at the `takeOrdered` action.

In [154]:
Count_freq = Count.sortBy(lambda item: item[1])
Top_20 = Count_freq.takeOrdered(20, key = lambda item: -item[1])
print(Top_20)

[('the', 8033), ('and', 5893), ('i', 4705), ('to', 4536), ('of', 3736), ('a', 2954), ('in', 2551), ('he', 2541), ('that', 2446), ('it', 2100), ('was', 1871), ('as', 1579), ('we', 1534), ('for', 1529), ('is', 1517), ('his', 1465), ('you', 1422), ('not', 1388), ('me', 1376), ('with', 1320)]

### A simple exercice

+ Create a Python collection of 10,000 integers
+ Create a Spark base RDD from that collection
+ Subtract one from each value using map
+ Perform action collect to view results
+ Perform action count to view counts
+ Apply transformation filter and view results with collect

In [130]:
import numpy as np

Rand = np.random.randint(0,100, 10000)
RDD = sc.parallelize(Rand)
RDD = RDD.map(lambda item: item - 1)
RDD.take(20)
RDD.countByValue()

defaultdict(int,
            {-1: 100,
             0: 102,
             1: 102,
             2: 116,
             3: 94,
             4: 113,
             5: 121,
             6: 110,
             7: 91,
             8: 96,
             9: 81,
             10: 105,
             11: 87,
             12: 87,
             13: 103,
             14: 96,
             15: 125,
             16: 99,
             17: 105,
             18: 115,
             19: 99,
             20: 105,
             21: 97,
             22: 105,
             23: 102,
             24: 120,
             25: 87,
             26: 107,
             27: 94,
             28: 96,
             29: 84,
             30: 112,
             31: 92,
             32: 96,
             33: 115,
             34: 82,
             35: 105,
             36: 104,
             37: 93,
             38: 90,
             39: 106,
             40: 91,
             41: 95,
             42: 117,
             43: 90,
             44: 92,
             45: 97,
             46: 111,
             47: 103,
             48: 84,
             49: 120,
             50: 94,
             51: 86,
             52: 101,
             53: 85,
             54: 104,
             55: 112,
             56: 82,
             57: 83,
             58: 90,
             59: 104,
             60: 99,
             61: 117,
             62: 98,
             63: 80,
             64: 85,
             65: 114,
             66: 100,
             67: 115,
             68: 101,
             69: 99,
             70: 96,
             71: 112,
             72: 104,
             73: 109,
             74: 84,
             75: 88,
             76: 104,
             77: 105,
             78: 101,
             79: 97,
             80: 89,
             81: 112,
             82: 106,
             83: 86,
             84: 118,
             85: 100,
             86: 105,
             87: 104,
             88: 93,
             89: 85,
             90: 97,
             91: 90,
             92: 102,
             93: 94,
             94: 107,
             95: 86,
             96: 117,
             97: 110,
             98: 111})

### An improved WordCount

Print the top 10 most frequent words with their probability of appearance

In [155]:
Count = Clean.count()
Count_freq_prob = Count_freq.map(lambda item: (item[0],item[1], item[1]/Count))
Top_10 = Count_freq_prob.takeOrdered(10, key = lambda item: -item[2])

print(Top_10)

[('the', 8033, 0.048858666893737114), ('and', 5893, 0.03584266450949743), ('i', 4705, 0.02861695851301296), ('to', 4536, 0.027589059259304313), ('of', 3736, 0.02272326397547639), ('a', 2954, 0.0179669490855346), ('in', 2551, 0.015515804711306284), ('he', 2541, 0.015454982270258434), ('that', 2446, 0.014877169080303869), ('it', 2100, 0.012772712620048293)]

Get rid of special characters (.,:!?')

In [161]:
import re
Count_freq_alphanum = Count_freq_prob.map(lambda item: (re.sub('[^A-Za-z0-9]+', '', item[0]),item[1], item[2]))
Count_freq_alphanum.count()

11973

Identify the transformations and the actions in your script

How many times are the transformations evaluated? (Hint: it depends)

Can you reduce this number? (Hint: check out "persist")

In [ ]:
# TO DO

In [ ]:
sc.stop()

## Part 3 : Spark SQL and dataframes

In this part, you will explore Spark DataFrames and the SQL Context. In particular, we will work on a database that contains a sample of the world population by working on data that comes from [pplapi](http://pplapi.com/). The file [agents.json](./SparkData/agents.json) is a file that was extracted from this api using the following command :


`wget https://s3-eu-west-1.amazonaws.com/course.oc-static.com/courses/4297166/agents.json`

In [169]:
import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.read.json("./SparkData/agents.json")

Print the 5 first lines of the dataframe `df`

In [170]:
df.take(5)

[Row(country_name='China', id=227417393, latitude=33.15219798270325, longitude=100.85840672174572, sex='Male'),
 Row(country_name='Haiti', id=6821129477, latitude=19.325567983697297, longitude=-72.43795260265814, sex='Female'),
 Row(country_name='India', id=2078667700, latitude=23.645271492037235, longitude=80.85636526088884, sex='Female'),
 Row(country_name='China', id=477556555, latitude=33.45864668881662, longitude=93.33604038078953, sex='Female'),
 Row(country_name='India', id=1379059984, latitude=28.816938290678692, longitude=80.7728698035823, sex='Female')]

Write the spark instructions that enable to display the number of French agents.

In [164]:
df.filter(df["country_name"]=='France').show()

+------------+----------+--------------------+--------------------+------+
|country_name|        id|            latitude|           longitude|   sex|
+------------+----------+--------------------+--------------------+------+
|      France|5130782577|-0.21142875508479517|-0.00395021443374...|Female|
|      France|5125653041|  1.5099359591520582| -1.7155442515387973|Female|
|      France|5092935162| 0.06978158062530335|  -1.529365900793559|Female|
|      France|5108968681|-0.15326107452236482|  2.1243709186708934|Female|
|      France|5078973934|-0.06137848013048675| -1.4476884573473048|Female|
|      France|5132969816|  1.1828646583062592| -0.6655754887318799|Female|
|      France|5079112248|  -0.217260169262005| 0.25087488920444284|Female|
|      France|5108994896| 0.49047553633530405| 0.12140982654262467|Female|
|      France|5130956195| -0.4702673586856353|  0.9266846158973026|  Male|
|      France|5135909518|  1.0264852068813861| -0.2140207779096717|  Male|
|      France|5126986401| -0.3000128566536097| 0.38070406466183515|  Male|
|      France|5118238997|  0.9474034213864879|  1.1594401098214056|  Male|
|      France|5078427269|  1.2383110079391852| -0.8057894807391559|Female|
|      France|5103360620|  0.8804203939951878| -1.9584312089442544|Female|
|      France|5087376103| 0.36735236174643593|-0.08389139935919032|  Male|
|      France|5127306923|  0.3357881974469305| 0.07190625070884477|  Male|
|      France|5105659966| 0.25437723190280187| -0.2670049016944363|Female|
|      France|5080236246| -0.9793883947051585| 0.09417020992108467|Female|
|      France|5098071394|-0.00716727104203...|  -0.564196422329451|Female|
|      France|5135065608|  1.2161218788026498|  0.5966144433039097|Female|
+------------+----------+--------------------+--------------------+------+
only showing top 20 rows

Write the spark instructions that enable to display the number of Indian female agents.

In [173]:
df.filter((df["country_name"]=='India') & (df["sex"]=='Female')).show()

+------------+----------+------------------+-----------------+------+
|country_name|        id|          latitude|        longitude|   sex|
+------------+----------+------------------+-----------------+------+
|       India|2078667700|23.645271492037235|80.85636526088884|Female|
|       India|1379059984|28.816938290678692| 80.7728698035823|Female|
|       India|1375733494|22.385712662257426|77.90320433636231|Female|
|       India|1584815794|19.102700698004416|79.67843973466778|Female|
|       India|1514105680|17.825246219527756|73.22156078852429|Female|
|       India|2274764948| 19.82309181729447|71.97339986366181|Female|
|       India|2019200843| 19.85322450012048|81.48236565311277|Female|
|       India|1900697806| 25.00490234918041|73.99415281960854|Female|
|       India|1504105198|19.179362533369744|75.62931818391733|Female|
|       India|2188686500|17.218351214433053|80.27969374143316|Female|
|       India|1686639083|24.359614315713024|79.39650850071789|Female|
|       India|1550347907|26.574720440836586|74.47164134180663|Female|
|       India|2290224796|24.320185611561925|74.87525955099318|Female|
|       India|1362119225| 25.02892140472612|77.66914365096424|Female|
|       India|2550898312|16.850913331839383|76.71796956164341|Female|
|       India|2487620564| 19.10977229820752| 79.8288777764338|Female|
|       India|1625564020| 22.21614927778045|73.39614326639496|Female|
|       India|1472936119| 23.26312832799611|81.27077564653098|Female|
|       India|2029196289|21.045638534744956|79.19602403557826|Female|
|       India|2428920190|27.741586798700045|75.69923606624118|Female|
+------------+----------+------------------+-----------------+------+
only showing top 20 rows

Using the notion of temporary view (function `createTempView`), create a temporary view associated to the dataframe `df`.

In [174]:
df.createTempView("temp_table")

Write some SQL query on the resulting table as shown in the example below.

In [176]:
spark.sql("SELECT country_name,id FROM temp_table ORDER BY id DESC LIMIT 10").show()

+-----------------+----------+
|     country_name|        id|
+-----------------+----------+
| French Polynesia|7170821229|
|       Cabo Verde|7167692449|
|         Suriname|7166451460|
|         Suriname|7166235088|
|            Macau|7166034642|
|       Montenegro|7164357515|
|Equatorial Guinea|7163867872|
|           Bhutan|7163256789|
|           Bhutan|7163004645|
|           Bhutan|7162877973|
+-----------------+----------+

In [ ]:
# TO DO - Write some requests.

In [201]:
spark.stop()
sc.stop()

You can also create a dataframe from an existing RDD as shown on the example below

In [202]:
sc=pyspark.SparkContext("local[*]","Dataframe examples in Spark")
sqlContext = pyspark.SQLContext(sc)

In [203]:
documents_rdd = sc.parallelize([
        [1, 'cats are cute', 0],
        [2, 'dogs are playfull', 0],
        [3, 'lions are big', 1],
        [4, 'cars are fast', 1]])
users_rdd = sc.parallelize([
        [0, 'Alice', 20],
        [1, 'Bob', 23],
        [2, 'Charles', 32]])

In [204]:
documents_df = documents_rdd.toDF(['doc_id', 'text', 'user_id'])
users_df = users_rdd.toDF(['user_id', 'name', 'age'])

# printing the inferred schema for documents
documents_df.printSchema()
users_df.printSchema()

root
 |-- doc_id: long (nullable = true)
 |-- text: string (nullable = true)
 |-- user_id: long (nullable = true)

root
 |-- user_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

Some functions can be apply to a column or to different columns. Here, we compute the age avarage in the dataframe `users_df`.

In [205]:
from pyspark.sql import functions as fn

user_age_df = users_df.select(fn.avg('age')).show()

+--------+
|avg(age)|
+--------+
|    25.0|
+--------+


Compute the max of age in the dataframe `users_df`.

In [206]:
user_age_df = users_df.select(fn.max('age')).show()

+--------+
|max(age)|
+--------+
|      32|
+--------+

Join (as in SQL) the two dataframes `users_df` and `documents_df`

In [211]:
users_df.createOrReplaceTempView("Users")
documents_df.createOrReplaceTempView("Doc")

spark.sql("SELECT * FROM Doc JOIN Users ON Users.user_id = Doc.user_id").show()

AnalysisException: 'Table or view not found: Doc; line 1 pos 19'

Outer Join (Left) (as in SQL) the two dataframes `users_df` and `documents_df`

In [ ]:
# TO DO

## Part 4 : MLlib - Spark for data analysis and machine learning

In this part, we will see how to create a text classifiation application with Spark. We will use some data from the newsgroups [Usenet](https://en.wikipedia.org/wiki/Usenet_newsgroup) and the objective is to predict the topic of the news.
 
The train data is [here](./SparkData/20ng-train-all-terms.txt) and the test data [here](./SparkData/20ng-test-all-terms.txt).
The are obtained using the following commands: 
`wget http://ana.cachopo.org/datasets-for-single-label-text-categorization/20ng-train-all-terms.txt`
and
`wget http://ana.cachopo.org/datasets-for-single-label-text-categorization/20ng-test-all-terms.txt`

Load these data as some RDDs and translate them in DataFrames.

In [223]:
sc.stop()

findspark.init()
from pyspark.ml.feature import CountVectorizer

sc=pyspark.SparkContext("local[*]","machine learning in Spark")
sqlContext = pyspark.SQLContext(sc)

from pyspark.sql import Row

def load_dataframe(path):
    return spark.read.text(path)
        
train_data = load_dataframe("/Users/chalvidalm/Documents/3A OMA/Plateforme et Langage de Programmation/cours 4 - Spark/LabSpark/SparkData/train-all-terms.txt")
test_data = load_dataframe("/Users/chalvidalm/Documents/3A OMA/Plateforme et Langage de Programmation/cours 4 - Spark/LabSpark/SparkData/test-all-terms.txt")

A first step is to represent our data, i.e. the messages in the form of a bag-of-word representation using the spark method `CountVectorizer` documented [here](https://spark.apache.org/docs/2.1.0/ml-features.html#countvectorizer)

In [224]:
cv = CountVectorizer(inputCol="words", outputCol="features", vocabSize=3, minDF=2.0)

model = cv.fit(df)
result = model.transform(df)
result.show(truncate=False)

IllegalArgumentException: 'Field "words" does not exist.\nAvailable fields: country_name, id, latitude, longitude, sex'

Displayong of the distint labels in the datasets

In [ ]:
train_data.select("label").distinct().sort("label").show(truncate=False)

We will now apply a [NaiveBayes](https://spark.apache.org/docs/latest/ml-classification-regression.html#naive-bayes) classifier to our problem. 
Take the time to read the doc and apply it to our problem. You will first have to associate a number to each label. You can use the [`String Indexer`](https://spark.apache.org/docs/2.1.0/ml-features.html#stringindexer) function of pyspark for that.

In [ ]:
# TO DO - Transformation of the label into a number

In [ ]:
# TO DO - Application of the NaivesBayes models

In [ ]:
# TO DO - Application of the trained model to the test dataset and displaying the prediction compared to the real value for the 20 first messages

The Evaluation of the learned model can be done by using the [evaluation](https://spark.apache.org/docs/2.1.0/mllib-evaluation-metrics.html) module of MLlib. Print the accuracy of the obtained model.

In [ ]:


# TO DO